<!doctype html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <title>luv2code Company Home Page</title>
    </head>

    <body>
        <h2>luv2code Company Home Page</h2>
        <hr>

        <p>
            User: <span sec:authentication="principal.username"></span>
            <br><br>
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>

        <hr>

        <div>
            <p>
                <a th:href="@{/leaders}">Leadership meeting</a> (Only for Managers)
            </p>
        </div>

        <div>
            <p>
                <a th:href="@{/systems}">IT Systems meeting</a> (Only for Admins)
            </p>
        </div>

        <p>Welcome to the luv2code Company Home Page</p>
    </body>



    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Log out" />
    </form>

</html>